html(lang="en")
  head

    link(rel='stylesheet', href='main.css')

    title= appTitle

  body
    #filtrandapp
      .title
        h1= appTitle

      form(class="subject-form", action="/")
        label Subject
        input(name="subject", value="#{subject}")
