html(lang="en")
  head

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="underscore-min.js")
    script(src="backbone-min.js")
    script(src="http://js.pusherapp.com/1.9/pusher.min.js")

    <script type="text/javascript">
    | var pusher = new Pusher("#{key}");
    | var currentSubjects = "#{currentSubjects}".split(",");
    </script>

    script(src="client.js")

    link(rel='stylesheet', href='main.css')

    title= appTitle

  body
    .main-container

      header

      .interface
        .title
          a(href='/')= "Filtrand"

        .instructions Enter a subject to track on Twitter

        form(class="subject-form", action="/")
          input(name="subject")
        br

        #tweets-view
          .content
            div(class="waiting-for-tweets", style='display:none;') Waiting for tweets...

            #tweets
              ul#tweet-list

          <script type="text/template" id="tweet-item-template">
          <div class="display">
          <div class="tweet-image"><img src="<%= this.model.image %>" width="48" height="48" /></div>
          <div class="tweet-text"><%= this.model.text %></div>
          </div>
          </script>

      .information
        .blurb
          p Searching for a term subscribes you to a Pusher channel. Pusher sends web hooks to a Node.js process as channels become occupied or unoccupied.  This process maintains the active list of terms, subscribes to the Twitter firehose, and sends every tweet received to the Pusher REST API.
          p To find out more, read <a href='http://blog.pusher.com/2011/12/7/web-hooks'>the blog post</a>.
        .suggestions Try tracking <a class="sidebar-subject" href="#">exciting</a>, <a class="sidebar-subject" href="#">php</a>, <a class="sidebar-subject" href="#">party</a>.

        #subjects-view
          div(class="already-tracking", style='display:none;') People are currently tracking

          #subjects
            ul#subject-list

          <script type="text/template" id="subject-item-template">
          <div class="subject-text"><a class="sidebar-subject" href="#"><%= this.model.subject %></div>
          </script>


    .footer
      <a href='http://pusher.com'>Pusher</a>&nbsp;&nbsp;&nbsp;
      <a href='http://pusher.com/about#contact'>Contact Us</a>